#TabsToolbar,
#nav-bar {
  transition: margin-top 0.25s !important;
}

.tab-icon-image {
  opacity: 0;
  transition: opacity var(--ma-tab-icon-duration) ease;
}

[selected="true"] .tab-icon-image,
.tab-stack:hover .tab-icon-image {
    opacity: 1;
}
